doctype html
html
  head
    title= title
    link(rel='styleSheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src = '/javascripts/bootstrap.min.js')
  body
    //include ./modalDialog.jade
    include ./header.jade
    block content
