//
   Created by fengjj on 2016/7/13.

extends  layout
block content
  .container
    - if(list.length>0)
      table.table.table-striped
        caption users information
        tbody
          - if (logined)
            tr
              th.col-lg-1 #
              th.col-lg-4 user name
              th.col-lg-5 email
              th.col-lg-2 operation
          - else
            tr
              th.col-lg-1 #
              th.col-lg-4 user name
              th.col-lg-5 email
        - for(var i= 0;i<list.length;i++)
          tr
            td i
            td #{list[i]['user_name']}
            td #{list[i]['email']}
            - if(logined)
              td.user_operate
                a(href='/users/update?id='+i) edit
                a(href='/users/del?id='+i) delete
    - else
      span 没有内容



